<div class="p-5 text-center bg">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white shadow-5">
      <h1 class="mb-3">Welcome Tontinards!</h1>
      <button class="btn btn-outline-light  btn-rounded btn-lg bg-warning" type="button"
        routerLink="/signin">LOGIN</button>
      <h6 class="mt-3">Log in or registry to see any info</h6>
    </div>
  </div>
  <p class="text-center text-muted  mt-5 mb-0 text-white">Have an account?
    <a routerLink="/signup" class="fw-bold text-body text-white" type="link"><u>Sign up
        here</u></a>
  </p>
</div>
